{% extends "base.html" %}

{% block title %}Create Lesson{% endblock %}


{% block content %}
	<div class="wrapper">
    <div class="white-container wide-container">
			<h1 class="courses-title">Створити новий урок для {{ course.title }}</h1>
			<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-field">
					<label class="form-label" for="title">Назва уроку:</label>
					<input class="input" type="text" id="title" name="title" required>
        </div>
        <br>
        <div class="form-field">
					<label class="form-label" for="level">Рівень курсу:</label>
					<input class="input" type="number" id="level" name="level" required>
        </div>
        <br>
        <div class="form-field">
					<label class="form-label">Файл:</label>
					<label class="form-label button secondary-button" for="file">Завантажити файл</label>
					<input type="file" id="file" name="file" style="visibility:hidden;" required>
        </div>
        <br>
        <button class="button primary-button" type="submit">Створити урок</button>
			</form>
    </div>
	</div>
{% endblock %}
